{% extends 'base.html' %}

{% block body %}

    <div class="card " style="width: 50rem;">
      <div class="card-body">
          <h4 class="card-title">About</h4>
        <h6 class="card-text"> Electronic Book Project basically created for the person, who has study something & want to make
            notes and practice of same topic.<br>
            In Electronic Book project you can create Book, Topic and Posts, also Update & Delete Book Topic & Post</h6>
      </div>
    </div>

{% endblock %}